.pop {
    display: block;
    position: fixed;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
}

.pop>.popMain {
    width: inherit;
    height: 100%;
    position: relative;
    background-color: #fff;
    width: 800px;
    height: 600px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, .3);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-rows: 30px 1fr;
}
.pop .popHeader{
    display: flex;
    justify-content: space-between;
}
.pop .popBody{
    overflow-y: scroll;
    padding: 20px;
}
.pop .closeBtn{
    outline: none;
    border-radius: 100;
    background-color: transparent;
    border: 0px;
    color:#333;
    font-size: 14px;
}
.pop .closeBtn:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

.pop .popHeader{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    user-select: none;
}
.pop .house{
    display: flex;
    gap: 10px;
}

.pop .house div{
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.pop .card{
    display: flex;
    gap: 10px;
}

.pop .card div{
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.pop .stocks>div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px 5px 10px;
}

.pop .stocks>div>div{
    display: flex;
    gap: 10px;
    align-items: center;
}
[stocksStatus="up"]{
    color: #f00;
    display: flex;
    gap: 5px;
}
[stocksStatus="up"]::before{
    content: "涨";
    background-color: #f00;
    color: #fff;
    padding: 2px 5px 2px 5px;
    display: inline-flex;
}
[stocksStatus="down"]{
    color: #0f0;
    display: flex;
    gap: 5px;
}
[stocksStatus="down"]::before{
    content: "跌";
    background-color: #0f0;
    color: #fff;
    padding: 2px 5px 2px 5px;
    display: inline-flex;
}
[stocksPercent]::after{
    content: attr(stocksPercent);
    font-size: 24px;
}